<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251174388281-n0smrmko670dqjce996ngo1fbgql42bj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251174388281-n0smrmko670dqjce996ngo1fbgql42bj</string>
	<key>API_KEY</key>
	<string>AIzaSyAfpi4th6b5Ir6L1J6iEV_UXkeywVncCW8</string>
	<key>GCM_SENDER_ID</key>
	<string>251174388281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eunsung-dev.FollowSSU</string>
	<key>PROJECT_ID</key>
	<string>followssu</string>
	<key>STORAGE_BUCKET</key>
	<string>followssu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251174388281:ios:5d6057d5222e2183e5c3e8</string>
</dict>
</plist>